{% extends 'layouts/raw.html' %}
{% set cnav = "upload" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<script>
		if(typeof Dropzone != 'undefined') {
			new Dropzone($('.dropzone'));
		}
	</script>
{% endblock pageScript %}

{% block pageHeader %}
	{{headings.h1('Upload form')}}
{% endblock pageHeader %}

{% block mainContent %}

	<h1>Upload a thing</h1>
	
	<div class="fileList {% if not files.length %}hidden{% endif%}">
		<p>Files:</p>
		<ul>
			{% if files.length > 0 %}
				{% for file in files %}
					<li class="fileList-file">
						<a href="{{file.path}}">{{file.originalname}}</a>
						<progress value="100" max="100">100%</progress>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>

	<form novalidate enctype="multipart/form-data" method="post" action="/examples/upload">

		<div class="dropzone">
			<div>
				{{formElements.fileInput('documents', 'Attach file', {
					multiple: true
				})}}
				{{buttons.secondaryButton('Upload', 'upload')}}
			</div>
		</div>
		{{buttons.primaryButton('Continue', 'continue')}}
	</form>

{% endblock mainContent %}
