{% extends 'layouts/component.html' %}
{% set cnav = "seat" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
	<script>
		new SeatLimiter(2);
		new SeatLayoutEnhancer();
	</script>
{% endblock pageScript %}

{% block mainContent %}
	{{headings.h1('Choose seat')}}

	<form novalidate>

		{{formElements.seats('seat', 'Seat', [{
			seats: [{
				label: '1A',
				id: 'seat',
				value: '1A'
			},{
				label: '1B',
				id: 'seat1B',
				value: '1B',
				disabled: true
			},{
				label: '1C',
				id: 'seat1C',
				value: '1C'
			},{
				label: '1D',
				id: 'seat1D',
				value: '1D'
			},{
				label: '1E',
				id: 'seat1E',
				value: '1E'
			},{
				label: '1F',
				id: 'seat1F',
				value: '1F'
			}]
		}, {
			seats: [{
				label: '2A',
				id: 'seat2A',
				value: '2A'
			},{
				label: '2B',
				id: 'seat2B',
				value: '2B'
			},{
				label: '2C',
				id: 'seat2C',
				value: '2C'
			},{
				label: '2D',
				id: 'seat2D',
				value: '2D'
			},{
				label: '2E',
				id: 'seat2E',
				value: '2E'
			},{
				label: '2F',
				id: 'seat2F',
				value: '2F'
			}]
		}, {
			seats: [{
				label: '3A',
				id: 'seat3A',
				value: '3A'
			},{
				label: '3B',
				id: 'seat3B',
				value: '3B'
			},{
				label: '3C',
				id: 'seat3C',
				value: '3C'
			},{
				label: '3D',
				id: 'seat3D',
				value: '3D'
			},{
				label: '3E',
				id: 'seat3E',
				value: '3E'
			},{
				label: '3F',
				id: 'seat3F',
				value: '3F'
			}]
		}], {
			hint: 'A&amp;F are window seats, C&amp;D are isle seats.',
			seatModifier: 'plane-seat--economyclass'
		})}}

		{{buttons.primaryButton('Continue')}}
	</form>


{% endblock mainContent %}