{% extends 'layouts/component.html' %}
{% set cnav = "addanother" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
	<script>
		new AddAnother($('.addAnother'));
	</script>
{% endblock pageScript %}

{% block pageHeader %}
	{{headings.h1('Add another')}}
{% endblock pageHeader %}

{% block mainContent %}

	<div class="example">
		<form method="post" action="/add-another/">


			<div class="addAnother">
				<div class="addAnother-items">
					<div class="addAnother-item">
						{{formElements.textBox('items[0][name]', 'Name', { id: 'items[0][name]'})}}

						{{formElements.checkboxes('items[0][things]', 'Things', [{
							label: 'Chocolate',
							id: 'items[0][things]',
							value: 'chocolate'
						}, {
							label: 'Money',
							id: 'items[0][things]1',
							value: 'money'
						}])}}
					</div>
					<!-- <div class="addAnother-item">
						{{formElements.textBox('items[1][name]', 'Name', { id: 'items[1][name]'})}}

						{{formElements.checkboxes('items[1][things]', 'Things', [{
							label: 'Chocolate',
							id: 'items[1][things]',
							value: 'chocolate'
						}, {
							label: 'Money',
							id: 'items[1][things]1',
							value: 'money'
						}])}}
					</div> -->
				</div>
				
			</div>

			{{buttons.primaryButton('Submit')}}
		</form>
	</div>

{% endblock mainContent %}
