{% extends 'layouts/component.html' %}
{% set cnav = "addanother" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
	<script>
		new AddAnother($('.addAnother'));
	</script>
{% endblock pageScript %}

{% block pageHeader %}
	{{headings.h1('Add another')}}
{% endblock pageHeader %}

{% block mainContent %}

	<div class="example">
		<form method="post" action="/add-another/">
			<div class="addAnother">
				<h2 tabindex="-1" class="addAnother-heading">Expenses</h2>
				<p>Enter your expenses for the month.</p>
				<div class="addAnother-items">
					<div class="addAnother-item">
						{{formElements.textBox('items[0][name]', 'Name', { id: 'items[0][name]', attributes: 'data-name="items[%index%][name]" data-id="items[%index%][name]"' })}}

						{{formElements.textBox('items[0][amount]', 'Amount', { id: 'items[0][amount]', attributes: 'data-name="items[%index%][amount]" data-id="items[%index%][amount]"' })}}
					</div>
				</div>
				{{buttons.secondaryButton('Add another', 'add', {
					class: 'addAnother-addButton'
				})}}
			</div>

			{{buttons.primaryButton('Submit expenses', 'submitExpenses')}}
		</form>
	</div>

{% endblock mainContent %}
