{% extends 'layouts/component.html' %}
{% set cnav = "autocomplete" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<!-- build:js(src) /public/js/autocomplete.min.js -->
		<script src="/public/js/Autocomplete.js"></script>
	<!-- endbuild -->
	<script>
		var ac = new Autocomplete(document.getElementById('country'));
	</script>
{% endblock pageScript %}

{% block mainContent %}

	{{navigation.breadcrumb([{
		text: 'Autocomplete'
	}])}}

	{{headings.h1('Autocomplete')}}

	<div class="example">
		{{formElements.selectBox('country', 'Country', [
{ value: "Afghanistan", alt:"AF", text: "Afghanistan" },
{ value: "Åland Islands", alt:"AX Aaland Aland" , text: "Åland Islands" },
{ value: "Albania", alt:"AL", text: "Albania" },
{ value: "Algeria", alt:"DZ", text: "Algeria" },
{ value: "American Samoa", alt:"AS" , text: "American Samoa" },
{ value: "Andorra", alt:"AD" , text: "Andorra" },
{ value: "Angola", alt:"AO", text: "Angola" },
{ value: "Anguilla", alt:"AI" , text: "Anguilla" },
{ value: "Antarctica", alt:"AQ" , text: "Antarctica" },
{ value: "Antigua And Barbuda", alt:"AG" , text: "Antigua And Barbuda" },
{ value: "Argentina", alt:"AR", text: "Argentina" },
{ value: "Armenia", alt:"AM", text: "Armenia" },
{ value: "Aruba", alt:"AW" , text: "Aruba" },
{ value: "Australia", alt:"AU" , text: "Australia" },
{ value: "Austria", alt:"AT Österreich Osterreich Oesterreich ", text: "Austria" },
{ value: "Azerbaijan", alt:"AZ", text: "Azerbaijan" },
{ value: "Bahamas", alt:"BS", text: "Bahamas" },
{ value: "Bahrain", alt:"BH", text: "Bahrain" },
{ value: "Bangladesh", alt: "BD", text: "Bangladesh" },
{ value: "Barbados", alt:"BB", text: "Barbados" },
{ value: "Belarus", alt:"BY", text: "Belarus" },
{ value: "Belgium", alt:"BE België Belgie Belgien Belgique" , text: "Belgium" },
{ value: "Belize", alt:"BZ", text: "Belize" },
{ value: "Benin", alt:"BJ", text: "Benin" },
{ value: "Bermuda", alt:"BM" , text: "Bermuda" },
{ value: "Bhutan", alt:"BT", text: "Bhutan" },
{ value: "Bolivia", alt:"BO", text: "Bolivia" },
{ value: "Bonaire, Sint Eustatius and Saba", alt:"BQ", text: "Bonaire, Sint Eustatius and Saba" },
{ value: "Bosnia and Herzegovina", alt:"BA", text: "Bosnia and Herzegovina" },
{ value: "Botswana", alt:"BW", text: "Botswana" },
{ value: "Bouvet Island", alt:"BV", text: "Bouvet Island" },
{ value: "Brazil", alt:"BR Brasil", text: "Brazil" },
{ value: "British Indian Ocean Territory", alt:"IO", text: "British Indian Ocean Territory" },
{ value: "Brunei Darussalam", alt:"BN", text: "Brunei Darussalam" },
{ value: "Bulgaria", alt:"BG", text: "Bulgaria" },
{ value: "Burkina Faso", alt:"BF", text: "Burkina Faso" },
{ value: "Burundi", alt:"BI", text: "Burundi" },
{ value: "Cambodia", alt:"KH", text: "Cambodia" },
{ value: "Cameroon", alt:"CM", text: "Cameroon" },
{ value: "Canada", alt:"CA", text: "Canada" },
{ value: "Cape Verde", alt:"CV", text: "Cape Verde" },
{ value: "Cayman Islands", alt:"KY" , text: "Cayman Islands" },
{ value: "Central African Republic", alt:"CF", text: "Central African Republic" },
{ value: "Chad", alt:"TD", text: "Chad" },
{ value: "Chile", alt:"CL", text: "Chile" },
{ value: "China" , alt:"CN Zhongguo Zhonghua Peoples Republic", text: "China" },
{ value: "Christmas Island", alt:"CX" , text: "Christmas Island" },
{ value: "Cocos (Keeling) Islands", alt:"CC" , text: "Cocos (Keeling) Islands" },
{ value: "Colombia", alt:"CO", text: "Colombia" },
{ value: "Comoros", alt:"KM", text: "Comoros" },
{ value: "Congo", alt:"CG", text: "Congo" },
{ value: "Congo, the Democratic Republic of the", alt:"CD", text: "Congo, the Democratic Republic of the" },
{ value: "Cook Islands", alt:"CK" , text: "Cook Islands" },
{ value: "Costa Rica", alt:"CR", text: "Costa Rica" },
{ value: "Côte d'Ivoire", alt:"CI Cote dIvoire", text: "Côte d'Ivoire" },
{ value: "Croatia", alt:"HR Hrvatska", text: "Croatia" },
{ value: "Cuba", alt:"CU", text: "Cuba" },
{ value: "Curaçao", alt:"CW Curacao", text: "Curaçao" },
{ value: "Cyprus", alt:"CY", text: "Cyprus" },
{ value: "Czech Republic", alt:"CZ Česká Ceska", text: "Czech Republic" },
{ value: "Denmark", alt:"DK Danmark" , text: "Denmark" },
{ value: "Djibouti", alt:"DJ", text: "Djibouti" },
{ value: "Dominica", alt:"DM" , text: "Dominica" },
{ value: "Dominican Republic", alt:"DO", text: "Dominican Republic" },
{ value: "Ecuador", alt:"EC", text: "Ecuador" },
{ value: "Egypt", alt:"EG" , text: "Egypt" },
{ value: "El Salvador", alt:"SV", text: "El Salvador" },
{ value: "Equatorial Guinea", alt:"GQ", text: "Equatorial Guinea" },
{ value: "Eritrea", alt:"ER", text: "Eritrea" },
{ value: "Estonia", alt:"EE Eesti", text: "Estonia" },
{ value: "Ethiopia", alt:"ET", text: "Ethiopia" },
{ value: "Falkland Islands (Malvinas)", alt:"FK" , text: "Falkland Islands (Malvinas)" },
{ value: "Faroe Islands", alt:"FO Føroyar Færøerne" , text: "Faroe Islands" },
{ value: "Fiji", alt:"FJ", text: "Fiji" },
{ value: "Finland", alt:"FI Suomi", text: "Finland" },
{ value: "France", alt:"FR République française" , text: "France" },
{ value: "French Guiana", alt:"GF", text: "French Guiana" },
{ value: "French Polynesia", alt:"PF", text: "French Polynesia" },
{ value: "French Southern Territories", alt:"TF", text: "French Southern Territories" },
{ value: "Gabon", alt:"GA", text: "Gabon" },
{ value: "Gambia", alt:"GM", text: "Gambia" },
{ value: "Georgia", alt:"GE", text: "Georgia" },
{ value: "Germany", alt:"DE Bundesrepublik Deutschland", text: "Germany" },
{ value: "Ghana", alt:"GH", text: "Ghana" },
{ value: "Gibraltar", alt:"GI" , text: "Gibraltar" },
{ value: "Greece", alt:"GR" , text: "Greece" },
{ value: "Greenland", alt:"GL grønland" , text: "Greenland" },
{ value: "Grenada", alt:"GD", text: "Grenada" },
{ value: "Guadeloupe", alt:"GP", text: "Guadeloupe" },
{ value: "Guam", alt:"GU", text: "Guam" },
{ value: "Guatemala", alt:"GT", text: "Guatemala" },
{ value: "Guernsey", alt:"GG" , text: "Guernsey" },
{ value: "Guinea", alt:"GN", text: "Guinea" },
{ value: "Guinea-Bissau", alt:"GW", text: "Guinea-Bissau" },
{ value: "Guyana", alt:"GY", text: "Guyana" },
{ value: "Haiti", alt:"HT", text: "Haiti" },
{ value: "Heard Island and McDonald Islands", alt:"HM", text: "Heard Island and McDonald Islands" },
{ value: "Holy See (Vatican City State)", alt:"VA" , text: "Holy See (Vatican City State)" },
{ value: "Honduras", alt:"HN", text: "Honduras" },
{ value: "Hong Kong", alt:"HK", text: "Hong Kong" },
{ value: "Hungary", alt:"HU", text: "Hungary" },
{ value: "Iceland", alt:"IS Island", text: "Iceland" },
{ value: "India", alt:"IN", text: "India" },
{ value: "Indonesia", alt:"ID", text: "Indonesia" },
{ value: "Iran, Islamic Republic of", alt:"IR", text: "Iran, Islamic Republic of" },
{ value: "Iraq", alt:"IQ", text: "Iraq" },
{ value: "Ireland", alt:"IE Éire" , text: "Ireland" },
{ value: "Isle of Man", alt:"IM" , text: "Isle of Man" },
{ value: "Israel", alt:"IL", text: "Israel" },
{ value: "Italy", alt:"IT Italia", text: "Italy" },
{ value: "Jamaica", alt:"JM", text: "Jamaica" },
{ value: "Japan", alt:"JP Nippon Nihon" , text: "Japan" },
{ value: "Jersey", alt:"JE" , text: "Jersey" },
{ value: "Jordan", alt:"JO", text: "Jordan" },
{ value: "Kazakhstan", alt:"KZ", text: "Kazakhstan" },
{ value: "Kenya", alt:"KE", text: "Kenya" },
{ value: "Kiribati", alt:"KI", text: "Kiribati" },
{ value: "Korea, Democratic People's Republic of", alt:"KP North Korea", text: "Korea, Democratic People's Republic of" },
{ value: "Korea, Republic of", alt:"KR South Korea" , text: "Korea, Republic of" },
{ value: "Kuwait", alt:"KW", text: "Kuwait" },
{ value: "Kyrgyzstan", alt:"KG", text: "Kyrgyzstan" },
{ value: "Lao People's Democratic Republic", alt:"LA", text: "Lao People's Democratic Republic" },
{ value: "Latvia", alt:"LV", text: "Latvia" },
{ value: "Lebanon", alt:"LB", text: "Lebanon" },
{ value: "Lesotho", alt:"LS", text: "Lesotho" },
{ value: "Liberia", alt:"LR", text: "Liberia" },
{ value: "Libyan Arab Jamahiriya", alt:"LY", text: "Libyan Arab Jamahiriya" },
{ value: "Liechtenstein", alt:"LI", text: "Liechtenstein" },
{ value: "Lithuania", alt:"LT", text: "Lithuania" },
{ value: "Luxembourg", alt:"LU", text: "Luxembourg" },
{ value: "Macao", alt:"MO", text: "Macao" },
{ value: "Macedonia, The Former Yugoslav Republic Of", alt:"MK", text: "Macedonia, The Former Yugoslav Republic Of" },
{ value: "Madagascar", alt:"MG", text: "Madagascar" },
{ value: "Malawi", alt:"MW", text: "Malawi" },
{ value: "Malaysia", alt:"MY", text: "Malaysia" },
{ value: "Maldives", alt:"MV", text: "Maldives" },
{ value: "Mali", alt:"ML", text: "Mali" },
{ value: "Malta", alt:"MT", text: "Malta" },
{ value: "Marshall Islands", alt:"MH" , text: "Marshall Islands" },
{ value: "Martinique", alt:"MQ", text: "Martinique" },
{ value: "Mauritania", alt:"MR", text: "Mauritania" },
{ value: "Mauritius", alt:"MU", text: "Mauritius" },
{ value: "Mayotte", alt:"YT", text: "Mayotte" },
{ value: "Mexico", alt:"MX Mexicanos" , text: "Mexico" },
{ value: "Micronesia, Federated States of", alt:"FM", text: "Micronesia, Federated States of" },
{ value: "Moldova, Republic of", alt:"MD", text: "Moldova, Republic of" },
{ value: "Monaco", alt:"MC", text: "Monaco" },
{ value: "Mongolia", alt:"MN", text: "Mongolia" },
{ value: "Montenegro", alt:"ME", text: "Montenegro" },
{ value: "Montserrat", alt:"MS" , text: "Montserrat" },
{ value: "Morocco", alt:"MA", text: "Morocco" },
{ value: "Mozambique", alt:"MZ", text: "Mozambique" },
{ value: "Myanmar", alt:"MM", text: "Myanmar" },
{ value: "Namibia", alt:"NA", text: "Namibia" },
{ value: "Nauru", alt:"NR" , text: "Nauru" },
{ value: "Nepal", alt:"NP", text: "Nepal" },
{ value: "Netherlands", alt:"NL Holland Nederland" , text: "Netherlands" },
{ value: "New Caledonia", alt:"NC" , text: "New Caledonia" },
{ value: "New Zealand", alt:"NZ", text: "New Zealand" },
{ value: "Nicaragua", alt:"NI", text: "Nicaragua" },
{ value: "Niger", alt:"NE", text: "Niger" },
{ value: "Nigeria", alt:"NG" , text: "Nigeria" },
{ value: "Niue", alt:"NU" , text: "Niue" },
{ value: "Norfolk Island", alt:"NF" , text: "Norfolk Island" },
{ value: "Northern Mariana Islands", alt:"MP" , text: "Northern Mariana Islands" },
{ value: "Norway", alt:"NO Norge Noreg" , text: "Norway" },
{ value: "Oman", alt:"OM", text: "Oman" },
{ value: "Pakistan", alt:"PK", text: "Pakistan" },
{ value: "Palau", alt:"PW", text: "Palau" },
{ value: "Palestinian Territory, Occupied", alt:"PS", text: "Palestinian Territory, Occupied" },
{ value: "Panama", alt:"PA", text: "Panama" },
{ value: "Papua New Guinea", alt:"PG", text: "Papua New Guinea" },
{ value: "Paraguay", alt:"PY", text: "Paraguay" },
{ value: "Peru", alt:"PE", text: "Peru" },
{ value: "Philippines", alt:"PH" , text: "Philippines" },
{ value: "Pitcairn", alt:"PN" , text: "Pitcairn" },
{ value: "Poland", alt:"PL", text: "Poland" },
{ value: "Portugal", alt:"PT" , text: "Portugal" },
{ value: "Puerto Rico", alt:"PR", text: "Puerto Rico" },
{ value: "Qatar", alt:"QA", text: "Qatar" },
{ value: "Réunion", alt:"RE Reunion", text: "Réunion" },
{ value: "Romania", alt:"RO", text: "Romania" },
{ value: "Russian Federation", alt:"RU Russia Rossiya" , text: "Russian Federation" },
{ value: "Rwanda", alt:"RW", text: "Rwanda" },
{ value: "Saint Barthélemy", alt:"BL" , text: "Saint Barthélemy" },
{ value: "Saint Helena", alt:"SH" , text: "Saint Helena" },
{ value: "Saint Kitts and Nevis", alt:"KN" , text: "Saint Kitts and Nevis" },
{ value: "Saint Lucia", alt:"LC" , text: "Saint Lucia" },
{ value: "Saint Martin (French Part)", alt:"MF" , text: "Saint Martin (French Part)" },
{ value: "Saint Pierre and Miquelon", alt:"PM" , text: "Saint Pierre and Miquelon" },
{ value: "Saint Vincent and the Grenadines", alt:"VC" , text: "Saint Vincent and the Grenadines" },
{ value: "Samoa", alt:"WS", text: "Samoa" },
{ value: "San Marino", alt:"SM", text: "San Marino" },
{ value: "Sao Tome and Principe", alt:"ST", text: "Sao Tome and Principe" },
{ value: "Saudi Arabia", alt:"SA", text: "Saudi Arabia" },
{ value: "Senegal", alt:"SN", text: "Senegal" },
{ value: "Serbia", alt:"RS", text: "Serbia" },
{ value: "Seychelles", alt:"SC" , text: "Seychelles" },
{ value: "Sierra Leone", alt:"SL", text: "Sierra Leone" },
{ value: "Singapore", alt:"SG", text: "Singapore" },
{ value: "Sint Maarten (Dutch Part)", alt:"SX", text: "Sint Maarten (Dutch Part)" },
{ value: "Slovakia", alt:"SK", text: "Slovakia" },
{ value: "Slovenia", alt:"SI", text: "Slovenia" },
{ value: "Solomon Islands", alt:"SB", text: "Solomon Islands" },
{ value: "Somalia", alt:"SO", text: "Somalia" },
{ value: "South Africa", alt:"ZA", text: "South Africa" },
{ value: "South Georgia and the South Sandwich Islands", alt:"GS", text: "South Georgia and the South Sandwich Islands" },
{ value: "South Sudan", alt:"SS", text: "South Sudan" },
{ value: "Spain", alt:"ES España", text: "Spain" },
{ value: "Sri Lanka", alt:"LK", text: "Sri Lanka" },
{ value: "Sudan", alt:"SD", text: "Sudan" },
{ value: "Suriname", alt:"SR", text: "Suriname" },
{ value: "Svalbard and Jan Mayen", alt:"SJ" , text: "Svalbard and Jan Mayen" },
{ value: "Swaziland", alt:"SZ", text: "Swaziland" },
{ value: "Sweden", alt:"SE Sverige" , text: "Sweden" },
{ value: "Switzerland", alt:"CH Swiss Confederation Schweiz Suisse Svizzera Svizra" , text: "Switzerland" },
{ value: "Syrian Arab Republic", alt:"SY Syria", text: "Syrian Arab Republic" },
{ value: "Taiwan, Province of China", alt:"TW", text: "Taiwan, Province of China" },
{ value: "Tajikistan", alt:"TJ", text: "Tajikistan" },
{ value: "Tanzania, United Republic of", alt:"TZ", text: "Tanzania, United Republic of" },
{ value: "Thailand", alt:"TH", text: "Thailand" },
{ value: "Timor-Leste", alt:"TL", text: "Timor-Leste" },
{ value: "Togo", alt:"TG", text: "Togo" },
{ value: "Tokelau", alt:"TK" , text: "Tokelau" },
{ value: "Tonga", alt:"TO", text: "Tonga" },
{ value: "Trinidad and Tobago", alt:"TT", text: "Trinidad and Tobago" },
{ value: "Tunisia", alt:"TN", text: "Tunisia" },
{ value: "Turkey", alt:"TR Türkiye Turkiye", text: "Turkey" },
{ value: "Turkmenistan", alt:"TM", text: "Turkmenistan" },
{ value: "Turks and Caicos Islands", alt:"TC" , text: "Turks and Caicos Islands" },
{ value: "Tuvalu", alt:"TV" , text: "Tuvalu" },
{ value: "Uganda", alt:"UG", text: "Uganda" },
{ value: "Ukraine", alt:"UA Ukrayina", text: "Ukraine" },
{ value: "United Arab Emirates", alt:"AE UAE Emirates", text: "United Arab Emirates" },
{ value: "United Kingdom", alt:"GB Great Britain England UK Wales Scotland Northern Ireland" , text: "United Kingdom" },
{ value: "United States" , alt:"US USA United States of America", text: "United States" },
{ value: "United States Minor Outlying Islands", alt:"UM", text: "United States Minor Outlying Islands" },
{ value: "Uruguay", alt:"UY", text: "Uruguay" },
{ value: "Uzbekistan", alt:"UZ", text: "Uzbekistan" },
{ value: "Vanuatu", alt:"VU", text: "Vanuatu" },
{ value: "Venezuela", alt:"VE", text: "Venezuela" },
{ value: "Vietnam", alt:"VN" , text: "Vietnam" },
{ value: "Virgin Islands, British", alt:"VG" , text: "Virgin Islands, British" },
{ value: "Virgin Islands, U.S.", alt:"VI" , text: "Virgin Islands, U.S." },
{ value: "Wallis and Futuna", alt:"WF" , text: "Wallis and Futuna" },
{ value: "Western Sahara", alt:"EH", text: "Western Sahara" },
{ value: "Yemen", alt:"YE", text: "Yemen" },
{ value: "Zambia", alt:"ZM", text: "Zambia" },
{ value: "Zimbabwe", alt:"ZW", text: "Zimbabwe" }])}}
	</div>

	{{headings.h2('Description')}}
	<p>Use this when.</p>

{% endblock mainContent %}
