{% extends 'layouts/component.html' %}
{% set cnav = "characters-remaining" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<script>
		var ci = new CharacterCountdown(document.getElementById('notes'));
	</script>
{% endblock pageScript %}

{% block pageHeader %}
	{{headings.h1('Characters remaining')}}
{% endblock pageHeader %}

{% block mainContent %}

	<div class="example">
		{{formElements.textarea('notes', 'Delivery notes')}}
	</div>

{% endblock mainContent %}