{% extends 'layout.html' %}
{% set cnav = "characters-remaining" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<script>
		var ci = new CharactersIndicator(document.getElementById('notes'));
	</script>
{% endblock pageScript %}

{% block content %}

	{{navigation.breadcrumb([{
		text: 'Characters remaining'
	}])}}

	{{headings.h1('Characters remaining')}}


	<div class="example">
		{{formElements.textarea('notes', 'Delivery notes')}}
	</div>

{% endblock content %}