{% extends 'layouts/component.html' %}
{% set cnav = "date-picker-field" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<script>
		function supportsDateInput() {
			var el = document.createElement('input');
			try {
				el.type = 'date';
			} catch(e) {

			}
			return el.type == 'date';
		}

		if(!supportsDateInput()) {
			new DatePicker(document.getElementById('date'));
		}

		new DatePicker(document.getElementById('tdate'));
	</script>
{% endblock pageScript %}

{% block pageHeader %}
	{{headings.h1('Date picker')}}
{% endblock pageHeader %}

{% block mainContent %}

	<div class="example">
		{{formElements.textBox('date', 'Date', type='date')}}
	</div>

	<div class="example">
		{{formElements.textBox('tdate', 'Date', type='text')}}
	</div>

	{{headings.h2('Description')}}
	<p>Use this when...</p>

{% endblock mainContent %}