{% extends 'layout.html' %}
{% set cnav = "radio-buttons" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}

{% block content %}

	{{navigation.breadcrumb([{
		text: 'Radio buttons'
	}])}}

	{{headings.h1('Radio buttons')}}

	<div class="example">
		{{formElements.radioButtons('choice', 'Favourite colour', [{
			label: 'Blue',
			id: 'choice'
		}, {
			label: 'Red',
			id: 'choice1'
		}])}}
	</div>

{% endblock content %}