{% extends 'layout.html' %}
{% set cnav = "select-box" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/navigation.html" as navigation %}

{% block content %}

	{{navigation.breadcrumb([{
		text: 'Select box'
	}])}}

	{{headings.h1('Select box')}}


	<div class="example">
		{{formElements.selectBox('country', 'Country',[{
				text: 'Select',
				value: ''
			}, {
				text: 'Brazil',
				value: 'Brazil'
			}])}}
	</div>

{% endblock content %}