{% extends 'layout.html' %}
{% set nav = "components" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block content %}
	{{navigation.breadcrumb([{
		text: 'Components'
	}])}}

	{{headings.h1('Components')}}

	{{headings.h2('Forms')}}

	<ul>
		<li><a href="/components/text-box">Text box</a></li>
		<li><a href="/components/validation">Validation</a></li>
	</ul>

	{{headings.h2('Colour')}}
	<p>Coming soon.</p>

	{{headings.h2('Typography')}}
	<p>Coming soon.</p>

	{{headings.h2('Navigation')}}
	<p>Coming soon.</p>

	{{headings.h2('Tables')}}
	<p>Coming soon.</p>

	{{headings.h2('Lists')}}
	<p>Coming soon.</p>

{% endblock content %}