{% extends 'layout.html' %}
{% set nav = "forms" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block content %}

	{{navigation.breadcrumb([{
		text: 'Validation'
	}])}}

	{{headings.h1('Validation')}}

	<div class="example">
		{{formElements.errorSummary('Fix the following errors', [{
			fieldName: 'email',
			message: 'You need to enter the ‘at’ symbol (@) in the email address.'
		}, {
			fieldName: 'choice',
			message: 'You need to choose your favourite colour.'
		}, {
			fieldName: 'things',
			message: 'You need to choose at least 1 thing you like.'
		}, {
			fieldName: 'country',
			message: 'You need to choose a country.'
		}])}}

		{{formElements.textBox('email', 'Email address', {error: 'You need to enter the ‘at’ symbol (@).'})}}

		{{formElements.radioButtons('choice', 'Favourite colour', [{
			label: 'Blue',
			id: 'choice'
		}, {
			label: 'Red',
			id: 'choice1'
		}], {error: 'You need to choose your favourite colour.'})}}

		{{formElements.checkboxes('things', 'Things you like', [{
			label: 'Chocolate',
			id: 'things'
		}, {
			label: 'Money',
			id: 'things1'
		},  {
			label: 'Sleep',
			id: 'things2'
		}], {error: 'You need to choose at least 1 thing you like.'})}}

		{{formElements.selectBox('country', 'Country',[{
			text: 'Select',
			value: ''
		}, {
			text: 'Brazil',
			value: 'Brazil'
		}], {error: 'You need to choose a country.'})}}

		{{buttons.primaryButton('Continue')}}
	</div>

{% endblock content %}