/**********************************************************
* Open Sans
**********************************************************/

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    font-size: 100%;
}


.header {
	background-color: #222;
	padding: 20px 40px;
	overflow: hidden;
}

.logo {
	font-size: 1.8em;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
	float: left;
}

.main {
	padding: 40px 40px;
}

h1 {
	font-size: 3.5em;
	line-height: 1.2;
	color: #222;
	letter-spacing: -1px;
	margin-bottom: 40px;
}

h2 {
	font-size: 2.5em;
	line-height: 1.1;
	color: #222;
	margin-bottom: 20px;
}

p {
	margin-bottom: 40px;
}

ul {
	margin-bottom: 40px;
	margin-left: 25px;
}

.wifi-icon {
	padding-left: 135px;
	height: 128px;
	background: transparent url( /public/img/wifi_icon.png ) 0 0 no-repeat;
}

.example {
	position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
}

.example:before {
	content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 1em;
    line-height: 1.25;
    background: #bfc1c3;
    color: white;
}

header nav {
	float: right;
	margin-top: 0.8em;
}

nav ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

nav li {
	display: inline-block;
	font-size: 1.2em;
	margin-right: 10px;
}

nav a {
	color: #fff;
}

.active {
	font-weight: bold;
	text-decoration: none;
}