/**************************************
* Primary button
**************************************/

.primaryButton {
	background-color: #00823B;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	color: white;
	font-size: 1.2em;
	padding: 8px 16px;
	border-bottom: 2px solid #044426;
	border-right: 2px solid #044426;
}

.primaryButton:hover {
	background-color: #006435;
}

/**************************************
* Secondary button
**************************************/

.secondaryButton {
	background-color: #ddd;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	color: #222;
	font-size: 1.2em;
	padding: 8px 16px;
	border-bottom: 2px solid #bbb;
	border-right: 2px solid #bbb;
}

.secondaryButton:hover {
	background-color: #bbb;
}