{% extends 'layouts/default.html' %}
{% set cnav = "tbd" %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}

	{{headings.h1('Asking for dates')}}

	{{headings.h2('Date picker')}}	
	<div class="example">
		<iframe src="/components/date-picker" width="400" height="400"></iframe>
		<p><a href="/components/date-picker">Standalone</a></p>
	</div>

	{{headings.h2('Memorable date')}}	
	<div class="example">
		<iframe src="/components/memorable-date" width="400" height="400"></iframe>
		<p><a href="/components/memorable-date">Standalone</a></p>
	</div>

{% endblock mainContent %}