.addAnother {
	margin-bottom: 70px;
}

.addAnother-item {
	position: relative;
	border: 1px dashed #ddd;
	margin-bottom: 30px;
	padding: 20px;
}

.addAnother-removeButton {
	position: absolute;
	top: 20px;
	right: 20px;
}

.addAnother-addButton,
.addAnother-removeButton {
	background-color: #fff;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	color: #444;
	font-size: 1.1em;
	padding: 8px 16px;
	border: 2px solid #ccc;
	border-radius: 10px;
}

.addAnother-addButton:hover,
.addAnother-removeButton:hover {
	background-color: #ccc;
	
}