.addAnother {
	margin-bottom: 70px;
}

.addAnother-heading {
	outline: none;
}

.addAnother-item {
	position: relative;
	border: 1px dashed #ddd;
	margin-bottom: 30px;
	padding: 20px;
}

.addAnother-removeButton {
	position: absolute;
	top: 20px;
	right: 20px;
}