.addAnother {
	margin-bottom: 30px;
}

.addAnother-item {
	position: relative;
	border: 1px dashed #ddd;
	margin-bottom: 30px;
	padding: 20px;
}

.addAnother-removeButton {
	position: absolute;
	top: 20px;
	right: 20px;
}

.addAnother-addButton,
.addAnother-removeButton {
	background-color: #fff;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	color: #222;
	font-size: 1.2em;
	padding: 8px 16px;
	border: 2px solid #222;
}

.addAnother-removeButton path {
	fill: #222;
}

.addAnother-removeButton:hover path {
	fill: #fff;
}

.addAnother-addButton:hover,
.addAnother-removeButton:hover {
	background-color: #222;
	color: #fff;
}