{% extends 'layout.html' %}
{% set cnav = "validation" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<!-- build:js(src) /public/js/payment.min.js -->
		<script src="/public/js/FormValidator.js"></script>
		<script src="/public/js/CheckboxCollapser.js"></script>
	<!-- endbuild -->
	<script>
		var validator = new FormValidator(document.forms[0]);
		var collapser = new CheckboxCollapser(document.getElementById('same'), document.getElementsByClassName('billingAddress')[0]);
	</script>
{% endblock pageScript %}

{% block content %}

	{{navigation.breadcrumb([{
		text: 'Payment'
	}])}}

	{{headings.h1('Payment')}}

		<form novalidate>
			{{formElements.textBox('nameoncard', 'Name on card', {

			})}}
			{{formElements.textBox('cardnumber', 'Card number', type='number', {

			})}}
			{{formElements.textBox('expiry', 'Expiry date', type='number', {
				hint: 'MMYY'
			})}}
			{{formElements.textBox('cvc', 'Security code', type='number', {
				hint: 'The last 3 numbers on the back of your card.'
			})}}

			{{formElements.checkboxes('same', 'Is your billing address the same as delivery?', [{
				label: 'Yes, my billing address is the same',
				id: 'same',
				checked: true
			}])}}

			<div class="billingAddress">
				{{formElements.textBox('address1', 'Street')}}
				{{formElements.textBox('address2', 'Town')}}
				{{formElements.textBox('postcode', 'Postcode')}}
			</div>

			{{buttons.primaryButton('Continue')}}
		</form>

{% endblock content %}