{% extends 'layouts/component.html' %}
{% set cnav = "upload" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<script>
		if(typeof Dropzone != 'undefined') {
			new Dropzone($('.dropzone'));
		}
	</script>
{% endblock pageScript %}

{% block pageHeader %}
	{{headings.h1('Upload form')}}
{% endblock pageHeader %}

{% block mainContent %}
	{{files.length | dump}}
	<ul class="files {% if not files.length %}hidden{% endif%}">
		{% if files.length > 0 %}
			{% for file in files %}
				<li><a href="{{file.path}}">{{file.originalname}}</a> <progress value="100" max="100">100%</progress></li>
			{% endfor %}
		{% endif %}
	</ul>

	<form novalidate enctype="multipart/form-data" method="post" action="/components/upload-form">

		<div class="dropzone">
			<div>
				{{formElements.fileInput('documents', 'Attach file', {
					multiple: true
				})}}
				{{buttons.secondaryButton('Upload', 'upload')}}
			</div>
		</div>
		{{buttons.primaryButton('Continue', 'continue')}}
	</form>

{% endblock mainContent %}
