{% extends 'layout.html' %}
{% set cnav = "validation" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<!-- build:js(src) /public/js/formvalidator.min.js -->
		<script src="/public/js/FormValidator.js"></script>
	<!-- endbuild -->
	<script>
		var validator = new FormValidator(document.forms[0]);
		validator.addValidator('email', [{
		 	method: function(field) {
		    	return field.value.trim().length > 0;
			},
			message: 'Enter your email address.'
		},{
			method: function(field) {
		    	return (field.value.indexOf('@') > -1);
		  	},
			message: 'You need to enter the “at” symbol in the email address.'
		}]);
	</script>
{% endblock pageScript %}

{% block content %}

	{{navigation.breadcrumb([{
		text: 'Validation'
	}])}}

	{{headings.h1('Validation')}}

	<div class="example">
		<form novalidate>
			{{formElements.errorSummary('Fix the following errors', [{
				fieldName: 'email',
				message: 'Enter you email address.'
			}, {
				fieldName: 'choice',
				message: 'Choose your favourite colour.'
			}, {
				fieldName: 'things',
				message: 'Choose at least 1 thing you like.'
			}, {
				fieldName: 'country',
				message: 'Choose a country.'
			}])}}

			{{formElements.textBox('email', 'Email address', {error: 'Enter your email address.'})}}

			{{formElements.radioButtons('choice', 'Favourite colour', [{
				label: 'Blue',
				id: 'choice'
			}, {
				label: 'Red',
				id: 'choice1'
			}], {error: 'Choose your favourite colour.'})}}

			{{formElements.checkboxes('things', 'Things you like', [{
				label: 'Chocolate',
				id: 'things'
			}, {
				label: 'Money',
				id: 'things1'
			},  {
				label: 'Sleep',
				id: 'things2'
			}], {error: 'Choose at least 1 thing you like.'})}}

			{{formElements.selectBox('country', 'Country',[{
				text: 'Select',
				value: ''
			}, {
				text: 'Brazil',
				value: 'Brazil'
			}], {error: 'Choose a country.'})}}

			{{buttons.primaryButton('Continue')}}
		</form>
	</div>

{% endblock content %}