<nav class="componentNav">
	<p>Form elements</p>
	<ul>
		<li><a href="/components/text-box">Text box</a></li>
		<li><a href="/components/text-box">Select box</a></li>
		<li><a href="/components/text-box">Text area</a></li>
		<li><a href="/components/text-box">Radio buttons</a></li>
		<li><a href="/components/text-box">Checkbox group</a></li>
		<li><a href="/components/date-field">Date field</a></li>
		<li><a href="/components/text-box">Autocomplete</a></li>
		<li><a href="/components/text-box">Characters remaining</a></li>
		<li><a href="/components/validation">Validation</a></li>
	</ul>

	<p>Colours</p>
	<ul>
		<li><a href="/components/colours">Colours</a></li>
	</ul>
</nav>