<nav class="componentNav">

	<p>Buttons</p>
	<ul>
		<li><a {% if cnav == 'primary-button'%}class="active"{%endif%} href="/components/button">Primary button</a></li>
	</ul>


	<p>Form elements</p>
	<ul>
		<li><a {% if cnav == 'text-box'%}class="active"{%endif%} href="/components/text-box">Text box</a></li>
		<li><a {% if cnav == 'search-box'%}class="active"{%endif%} href="/components/search-box">Search box</a></li>
		<li><a {% if cnav == 'select-box'%}class="active"{%endif%} href="/components/select-box">Select box</a></li>
		<li><a {% if cnav == 'textarea'%}class="active"{%endif%} href="/components/textarea">Textarea</a></li>
		<li><a {% if cnav == 'radio-buttons'%}class="active"{%endif%} href="/components/radio-buttons">Radio buttons</a></li>
		<li><a {% if cnav == 'checkbox-group'%}class="active"{%endif%} href="/components/checkbox-group">Checkbox group</a></li>
		<li><a {% if cnav == 'memorable-date-field'%}class="active"{%endif%} href="/components/memorable-date-field">Memorable date field</a></li>
		<li><a {% if cnav == 'date-picker-field'%}class="active"{%endif%} href="/components/date-picker-field">Date picker field</a></li>
		<li><a {% if cnav == 'autocomplete'%}class="active"{%endif%} href="/components/autocomplete">Autocomplete</a></li>
		<li><a {% if cnav == 'characters-remaining'%}class="active"{%endif%} href="/components/characters-remaining">Characters remaining</a></li>
		<li><a {% if cnav == 'stepper'%}class="active"{%endif%} href="/components/stepper">Stepper</a></li>
	</ul>

	<p>Forms</p>
	<ul>
		<li><a href="/components/payment">Payment</a></li>
		<li><a href="/components/seat-chooser">Seat chooser</a></li>
		<li><a href="/components/validation">Validation</a></li>
	</ul>


	<p>Colours</p>
	<ul>
		<li><a href="/components/colours">Colours</a></li>
	</ul>
</nav>