{% extends 'layout.html' %}
{% set nav = "forms" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block content %}

	{{headings.h1('Form validation')}}

	<div class="example">
		{{formElements.errorSummary('Fix the following errors', [{fieldName: 'email', message: 'You need to enter the ‘at’ symbol (@).'}])}}

		{{formElements.textBox('email', 'Email address', {error: 'You need to enter the ‘at’ symbol (@).'})}}

		{{formElements.radioButtons('choice', 'Favourite colour', [{
			label: 'Blue',
			id: 'choice'
		}, {
			label: 'Red',
			id: 'choice1'
		}], {error: 'You need to choose an answer.'})}}

		{{formElements.checkboxes('things', 'Things you like', [{
			label: 'Chocolate',
			id: 'things'
		}, {
			label: 'Money',
			id: 'things1'
		},  {
			label: 'Sleep',
			id: 'things2'
		}], {error: 'You need to choose an answer.'})}}

		{{formElements.selectBox('country', 'Country',[{
			text: 'Select',
			value: ''
		}, {
			text: 'Brazil',
			value: 'Brazil'
		}], {error: 'You need to choose a country'})}}

		{{buttons.primaryButton('Continue')}}
	</div>

{% endblock content %}